asgiref
awsebcli
backports.tarfile
boto3
botocore
build
certifi
charset-normalizer
colorama
Django
django-storages
docutils
id
idna
importlib_metadata
jaraco.classes
jaraco.context
jaraco.functools
jmespath
keyring
markdown-it-py
mdurl
more-itertools
nh3
ordercost 
packaging
pillow
#psycopg2
psycopg2-binary
Pygments
pyproject_hooks
python-dateutil
pywin32-ctypes
readme_renderer
requests
requests-toolbelt
rfc3986
rich
s3transfer
six
sqlparse
twine
tzdata
urllib3
whitenoise
zipp
